{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="text-center my-5">
    <h1>CHIBOUB Mohamed</h1>
    <h4 class="text-muted">Groupe A1</h4>
    <p class="lead mt-3">Bonjour, je suis en BUT RT à l'IUT de Roanne et je suis passionné par tout ce qui touche à l'informatique.</p>
</div>

<div class="card mx-auto my-5" style="max-width: 600px;">
    <div class="card-body text-center">
        <h3 class="card-title">À propos de moi / Pour plus d'informations</h3>
        <p class="card-text">Si vous souhaitez en savoir plus sur moi ou sur mes projets, cliquez sur le bouton ci-dessous !</p>
        <a href="/Loisir" class="btn btn-primary">Pour en savoir plus</a>
    </div>
</div>
{% endblock %}
