{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="example-wrapper text-center mt-4">
        <h1>Hello</h1>

        <p>This friendly message is coming from:</p>
        <ul class="list-unstyled">
            <li>Your controller at <code>C:/Users/Admin/Documents/CHIBOUB/Symphony-2025_CHIBOUB/src/Controller/AccueilController.php</code></li>
            <li>Your template at <code>C:/Users/Admin/Documents/CHIBOUB/Symphony-2025_CHIBOUB/templates/accueil/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
