{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="text-center my-5">
    <h1>CHIBOUB Mohamed</h1>
    <h4 class="text-muted">Group A1</h4>
    <p class="lead mt-3">
        Hello, I am a first-year student in Networks and Telecommunications (BUT RT) at the IUT of Roanne.
        I am passionate about computer science, networking, and new technologies.
    </p>
</div>

<div class="card mx-auto my-5" style="max-width: 600px;">
    <div class="card-body text-center">
        <h3 class="card-title">About Me / Learn More</h3>
        <p class="card-text">
            If you would like to learn more about me, my hobbies, or my projects,
            feel free to click the button below.
        </p>
        <a href="/en/Loisir" class="btn btn-primary">Learn more</a>
    </div>
</div>
{% endblock %}
